body {
    font-family: Arial;
    margin: 0;
    text-align: center;
}

header {
    background: #0077b6;
    color: white;
    padding: 15px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.hero {
    background: lightblue;
    padding: 50px;
}

.services {
    padding: 20px;
}

.card {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    background: #caf0f8;
    border-radius: 10px;
}
